@import 'global/colors.scss';
@import 'global/fonts.scss';
@import 'global/buttons.scss';
@import 'global/myalert.scss';
@import 'global/myalert-theme.scss';

@import 'content/menu.scss';
@import 'content/content.scss';
@import 'content/footer.scss';
@import 'content/profile.scss';
@import 'content/error.scss';
@import 'content/login_success.scss';
@import 'content/gdpr__rules.scss';

@import 'mixins/meme.scss';
@import 'mixins/fixed_controls.scss';
@import 'mixins/inputs.scss';
@import 'mixins/modals.scss';

html{
    padding:0;
    margin:0 auto;
    text-align:center;
}

body{
    font-family:'osu-regular';
    display:flex;
    flex-direction: column;
    background:$background;
}

[v-cloak] {
    display:none;
}

.active{
    color: $highlight !important;
}

//mobile hover fix
@media (pointer:coarse) {
    a:not(.active):hover { color: white !important; }
  }