.content__container{
    width:100%;
    height:100%;
    margin-top:85px;

    @media (max-width:768px){
        margin-top:160px !important;
    }
}

.gutter-sizer{
    width:1.5%;
}

.load__more__memes{
    color:white;
    padding:75px;
}