.meme__container{
    margin:0 auto;
    z-index:0;

    .meme__item{
        display: inline-block;
		margin: 10px;
		text-align: left;
		opacity: .99;
		overflow: hidden;
		position: relative;
		border-radius: 3px;
		box-shadow: 0 0 20px 0 rgba(0,0,0,.05);

		&:before {
			content: '';
			background: linear-gradient(
				to bottom,
				rgba(0,0,0,0) 0%,
				rgba(0,0,0,0.7) 100%
			);
			width: 100%;
			height: 50%;
			opacity: 0;
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 2;
			transition-property: top, opacity;
			transition-duration: .3s;
		}

		iframe{
			width:350px;
			height:250px;

			@media (max-width:768px){
				width:250px;
				height:200px;
			}
		}
		
		img {
			display: block;
			width:350px;
			max-height:600px;
			backface-visibility: hidden;
			-webkit-backface-visibility: hidden;

					
			@media (max-width:768px){
				max-width:250px;
				min-width:250px;
			}

		}
		
		.details {
			font-size: 16px;
			padding: 15px;
			color: #fff;
			position: absolute;
			bottom: 0;
			left: 0;
            z-index: 3;
            width:100%;
			
			span {
				display: block;
				opacity: 0;
				position: relative;
				transition-property: top, opacity;
				transition-duration: .3s;
				transition-delay: 0s;
			}
			
			.title {
				line-height: 1;
				font-weight: 600;
                font-size: 18px;
				clear:both;
			}
			
			.info {
				line-height: 1.2;
				margin-top: 5px;
				font-size: 14px;

								
				a{
					color:inherit;
					text-decoration:none;
				}
            }
            
            .tag{
                font-size:10px;
                margin-left:0px;
            }

            .pp__counter{
                padding-left: 10px;
                left: 5px;
                font-size: 24px;
                display:inline-flex;
				width: 0;
				
                i{
                    margin-right:5px;
                }
            }
		}
		
		&:focus,
		&:hover {
			
			&:before,
			span {
				opacity: 1;
			}
			
			&:before {
				top: 50%;
			}
			
			span {
				top: 0;
			}
			
			.title {
				transition-delay: 0.15s;
			}
			
			.info {
				transition-delay: 0.25s;
			}
		}
	}
}