.menu__container{
    width:100%;
    height:75px;
    display:flex;
    flex-direction: row;
    position:fixed;
    z-index:999;
    background:$osupoli_black;
    color:white;

    .menu__container__wrap{
        width:100%;
        display:flex;
   

    .menu__container__wrap__logo{
        h1{
            font-size:36px;
            margin: 14px 14px;

            a{
                color:inherit;
                text-decoration: unset;
            }

            span{
                color:$osupoli-orange;
            }
        }
    }

    .menu__container__wrap__menu{
        display:flex;
        flex-direction: row;
        width:100%;

        ul{
            padding:0;
            margin:0;
            width:100%;
            text-align:right;

            li{
                max-width: inherit;
                padding:20px 10px;
                list-style-type: none;
                display:inline-block;

                &:last-of-type{
                    input{
                        width: 85%;
                        margin-right: 15px;
                        text-align: center;
                        border: none;
                        background:transparent;
                        color:white;
                        border-bottom:2px solid white;
                        margin-right:5px;
                    }
                }

                a{
                    text-decoration: none;
                    font-size:24px;
                    color:inherit;

                &:hover{
                    color:$osupoli-orange;
                    -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
                    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
                }
                }

            }
        }

        .menu__container__wrap__menu__user{
            display:flex;
            flex-direction: column;
            width:80px;
            margin-left:10px;

            img{
                margin-top:5px;
                max-width: 55px;
                border-radius: 50%;
                border: 5px solid black;
            }

            .menu__auth__button{
                position: relative;
                background: none;
                color: white;
                text-transform: uppercase;
                text-decoration: none;
                border: 0.2em solid $osupoli-orange;
                height:53px;
                padding: 0.5em 1em;
                width:50%;
                margin:0 auto;
    
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 10%;
                    background: white;
                    height: 0.3em;
                    right: 20%;
                    top: -0.21em;
                    transform: skewX(-45deg);
                    -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
                    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
                }
    
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 10%;
                    background: white;
                    height: 0.3em;
                    left: 20%;
                    bottom: -0.25em;
                    transform: skewX(45deg);
                    -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
                    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
                }
    
                &:hover {
                    color:$osupoli-orange;
                    -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
                    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    
                    &::before {
                        right: 80%;
                    }
    
                    &::after {
                        left: 80%;
                    }
                }
    
            }
        }
        
    }

}
    #modal__add__meme{
        display:none;
    }
}


