.modal{
    h2{
        margin-top:0px;
    }

    .tip{
        font-size:0.8em;
        font-style: italic !important;
        padding-bottom:20px;
    }
}

.popup__image{
    text-align:center !important;

    img{
        width:100%;
    }
}