.modal{
    background:$osupoli_black !important;
    text-align:center !important;
    color:white !important;
    
    h2{
        margin:0px;

        span{
            color:$osupoli-orange;
        }
    }



    .tip{
        font-size:0.8em;
        font-style: italic !important;
        padding-bottom:20px;
        text-align:left;
    }
}

.meme__modal{
    text-align:center !important;

    img{
        width:100%;
    }


    .meme__modal__desc{
        display:flex;
        padding-top:10px;

        .pp__counter{
            float:right;
            padding-left:10px;
        }

        h2{
            width:100%;
            text-align:right;
            padding:0;
            margin:0;
        }
    }
}

.meme__selection{
    display:flex;
    flex-direction: row;

    a{
        color:white;
        text-decoration:none;
        padding-top:15px;

        &:hover{
            background:$osupoli-orange;
            opacity:.9;
        }
    }
    & *{
        flex-grow:1;
    }
}


#modal__add__meme__image--second{
    padding-top:30px;
}

#modal__selection__admin{
    a{
        padding:0;
    }
}