mixin meme_item(meme)
    .meme__item(class!=meme.tags)
        if meme.video_id != NULL
            iframe(src=`http://www.youtube.com/embed/${meme.video_id}?controls=0&modestbranding=1` frameborder="0")
        else    
            img(src='/uploads/'+meme.id+'.jpg')
        .details
            span
                each tag in meme.tagsDivider
                    .tag!=tag
            span.pp__counter(meme_id!=meme.id)
                i(class='fab fa-pied-piper-pp')
                .pp__amount
                    =meme.likes
            span.title
                !=meme.meme_title
            span.info
                ='Made by: '
                a(href=`/profile/${meme.author_id}`)
                    !=meme.author_username