extends layout.pug
block content
    include blocks/gdpr.pug
    .banned_info
        if userInfo
            if userInfo.role > -1
                h3!=`Your account is: <font color="green">STABLE</font>`
            else
                h3!=`Your account is: <font color="red">BANNED</font>`
block footer
    script(src='/scripts/jquery.js')
    script(src="https://kit.fontawesome.com/33ef3f59f0.js" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js")
    script(src='/scripts/modalsConfig.js')
    script(src='/scripts/tagsInput.js')
    script(src='/scripts/activeControl.js')
    script(src='/scripts/gdpr.js')