extends layout.pug
include blocks/meme.pug
block content
    .meme__container()
        if(!memes)
            h3='Unfortunately, there is no memes yet'
        else
            each meme in memes
                +meme_item(meme)
    .load__more__memes

    include blocks/popups
block footer
    script(src='/scripts/jquery.js')
    script(src="https://kit.fontawesome.com/33ef3f59f0.js" crossorigin="anonymous")
    script(src='https://unpkg.com/isotope-layout@3.0.6/dist/isotope.pkgd.min.js')
    script(src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js")
    script(src='/scripts/isotopePackery.js')
    script(src='/scripts/isotopeConfig.js')
    script(src='/scripts/modalsConfig.js')
    script(src='/scripts/tagsInput.js')
    script(src='/scripts/likesFetch.js')
    script(src='/scripts/activeControl.js')
    script(src='/scripts/infiniteScroll.js')
    script(src='/scripts/imageModal.js')