html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Osu!meme page
        include blocks/head-link.pug
    body
        include blocks/menu.pug
        .content__container
            block content
        block footer
            include blocks/footer.pug