doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(property="og:type"          content="website" )
        meta(property="og:title"         content="Osu!memes")
        meta(property="og:description"   content="The best osu memes on the web!")
        title Osu!meme page
        include blocks/head-link.pug
    body
        include blocks/menu.pug
        include blocks/fixed_controls.pug
        .content__container
            block content
        block footer
            include blocks/footer.pug