extends layout-settings.pug

block content
    .add__meme__container
block footer
    script(src='scripts/jquery.js')
    script(src="https://kit.fontawesome.com/33ef3f59f0.js" crossorigin="anonymous")