@font-face {
  font-family: 'osu-regular';
  src: url("../fonts/Aller_Rg.ttf"); }

.osupoli-button {
  text-decoration: none;
  color: white;
  background-color: #9165BC;
  padding: 10px;
  margin: 10px;
  width: 150px;
  text-align: center; }
  .osupoli-button:hover {
    opacity: .8; }

@keyframes alert-in {
  from {
    left: -25px;
    opacity: 0; }
  to {
    left: 0;
    opacity: 1; } }

.myalert-wrapper {
  position: fixed;
  bottom: 25px;
  left: 25px;
  display: flex;
  flex-direction: column;
  z-index: 999;
  box-sizing: borderbox; }
  .myalert-wrapper * {
    box-sizing: border-box; }

.myalert {
  position: relative;
  animation: alert-in .5s;
  margin-top: 15px;
  transition: .3s;
  overflow: hidden;
  opacity: 1; }

.myalert-wrapper {
  width: 200px;
  font-family: 'osu-regular'; }

.myalert {
  background-color: #666;
  color: #fff;
  padding: 15px;
  border-radius: 3px;
  box-shadow: 1px 1px 5px 1px rgba(34, 34, 34, 0.05);
  border-left: 4px solid #474747; }
  .myalert p {
    margin: 0;
    font-size: .9rem; }
  .myalert:hover .myalert-close {
    opacity: 1;
    visibility: visible; }

.myalert-close {
  position: absolute;
  top: 7px;
  right: 7px;
  font-size: 10px;
  opacity: 0;
  visibility: hidden;
  transition: .2s;
  cursor: pointer; }

.myalert-danger {
  background-color: #E42727;
  border-color: #b71717; }

.myalert-warning {
  background-color: #9165BC;
  border-color: #72459f; }

.myalert-success {
  background-color: #03B635;
  border-color: #027a23; }

.myalert-info {
  background-color: #2B6CCC;
  border-color: #205199; }

header {
  width: 100%;
  min-height: 50px;
  background-color: #fff; }
  header .menu__wrapper {
    max-width: 1240px;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; }
    header .menu__wrapper h1 {
      padding: 0;
      margin: 0; }
    header .menu__wrapper .menu__wrapper__logo {
      flex-grow: 2; }

.content__container {
  width: 100%;
  height: 100%;
  margin-top: 85px; }
  @media (max-width: 768px) {
    .content__container {
      margin-top: 120px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 50px;
      box-sizing: border-box; } }

.gutter-sizer {
  width: 1.5%; }

.load__more__memes {
  color: white;
  padding: 75px; }

.footer__container {
  display: none;
  clear: both;
  float: right;
  width: 79%;
  height: 30px; }

.profile__container {
  min-width: 300px;
  max-width: 500px;
  background: #272727;
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  justify-content: center;
  color: white;
  border-radius: 6px;
  padding-bottom: 30px;
  flex-direction: column; }
  .profile__container .profile__container__header {
    width: 100%; }
    .profile__container .profile__container__header > *:not(.profile__container__header--cover) {
      padding: 10px;
      padding-bottom: unset; }
    .profile__container .profile__container__header .profile__container__header--cover {
      height: 100px;
      background-size: cover !important;
      border-radius: 6px; }
    .profile__container .profile__container__header .profile__container__header--avatar {
      margin-top: -75px; }
      .profile__container .profile__container__header .profile__container__header--avatar img {
        max-height: 100px; }
    .profile__container .profile__container__header .profile__container__header--nickname {
      font-size: 1.5em; }
    .profile__container .profile__container__header .profile__container__header--role {
      font-size: 1em; }
    .profile__container .profile__container__header .profile__container__header--joinedDate {
      font-size: .8em; }
  .profile__container .profile__container__content {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 90%;
    margin: 0 auto; }
    .profile__container .profile__container__content .profile__container__content__stats > * {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .profile__container .profile__container__content .profile__container__content__stats > * p {
        color: #9165BC;
        margin: 0; }
    .profile__container .profile__container__content .profile__container__content__stats .profile__container__content__stats--osuProfile a {
      text-decoration: none; }
    .profile__container .profile__container__content .profile__container__content__memes {
      height: 150px;
      overflow-y: auto;
      margin-top: 20px; }
      .profile__container .profile__container__content .profile__container__content__memes > *:nth-child(odd) {
        background: #000000; }
      .profile__container .profile__container__content .profile__container__content__memes .profile__container__content__memes__single {
        display: flex;
        flex-direction: row;
        height: 50px;
        align-items: center; }
        .profile__container .profile__container__content .profile__container__content__memes .profile__container__content__memes__single > *:not(.profile__container__content__memes__single--image) {
          flex-grow: 0;
          flex-basis: 20%;
          display: flex;
          flex-direction: column;
          font-size: .9em;
          box-sizing: border-box;
          padding: 5px; }
          .profile__container .profile__container__content .profile__container__content__memes .profile__container__content__memes__single > *:not(.profile__container__content__memes__single--image) span {
            color: #9165BC;
            font-size: .8em; }
        .profile__container .profile__container__content .profile__container__content__memes .profile__container__content__memes__single .profile__container__content__memes__single--image img {
          height: 50px;
          width: 50px;
          background-position: center center;
          object-fit: cover; }

.error__container {
  color: white;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .error__container h3 {
    color: #9165BC;
    font-size: 72px;
    font-weight: 800;
    margin-bottom: 0px; }

.success__container {
  color: white;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .success__container h3 {
    color: #9165BC;
    font-size: 72px;
    font-weight: 800;
    margin-bottom: 0px; }

.gdpr__container {
  position: fixed;
  background: #272727;
  padding: 10px;
  bottom: 0;
  color: white;
  width: 100%;
  z-index: 99;
  box-sizing: border-box;
  left: 0; }
  .gdpr__container h2 {
    font-size: 16px; }
  .gdpr__container a {
    color: #9165BC;
    text-decoration: none; }
  .gdpr__container .gdpr__container__close {
    cursor: pointer;
    background: #9165BC;
    padding: 5px;
    width: 150px;
    margin: 0 auto;
    margin-top: 5px; }

.rules__container {
  color: white;
  padding: 25px; }
  @media (max-width: 768px) {
    .rules__container {
      padding: 10px; } }
  @media (max-width: 768px) {
    .rules__container ol {
      padding-right: 25px;
      padding-left: 25px; } }
  .rules__container li {
    padding-top: 15px;
    max-width: 768px;
    margin: 0 auto;
    text-align: justify; }
    .rules__container li::marker {
      color: #9165BC; }

.info__container {
  color: white;
  margin: 0 auto;
  text-align: justfy;
  max-width: 768px; }
  @media (max-width: 768px) {
    .info__container ul {
      padding-left: 25px; } }
  .info__container li {
    padding: 20px 0px;
    text-align: left;
    font-size: 1.2em;
    color: #9165BC; }
    .info__container li a {
      color: #9165BC;
      text-decoration: none;
      font-size: 1em; }
    .info__container li p {
      margin: 0;
      font-size: .8em;
      color: white; }

.banned_info {
  color: white; }
  .banned_info a {
    color: #9165BC;
    text-decoration: none; }

.meme__container {
  margin: 0 auto;
  z-index: 0; }
  @media (max-width: 320px) {
    .meme__container {
      width: 315px !important; } }
  .meme__container .meme__item {
    display: inline-block;
    margin: 10px;
    text-align: left;
    opacity: .99;
    overflow: hidden;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05); }
    @media (max-width: 768px) {
      .meme__container .meme__item {
        margin-bottom: 15px; } }
    .meme__container .meme__item:before {
      content: '';
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
      width: 100%;
      height: 50%;
      opacity: 0;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 2;
      transition-property: top, opacity;
      transition-duration: .3s; }
    .meme__container .meme__item iframe {
      width: 350px;
      height: 250px;
      pointer-events: none; }
      @media (max-width: 768px) {
        .meme__container .meme__item iframe {
          width: 280px;
          height: 220px; } }
    .meme__container .meme__item img {
      display: block;
      width: 350px;
      max-height: 600px;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden; }
      @media (max-width: 768px) {
        .meme__container .meme__item img {
          width: 280px; } }
    .meme__container .meme__item .details {
      font-size: 16px;
      padding: 15px;
      color: #fff;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 3;
      width: 100%; }
      .meme__container .meme__item .details span {
        display: block;
        opacity: 0;
        position: relative;
        transition-property: top, opacity;
        transition-duration: .3s;
        transition-delay: 0s; }
      .meme__container .meme__item .details .title {
        line-height: 1;
        font-weight: 600;
        font-size: 18px;
        clear: both; }
      .meme__container .meme__item .details .info {
        line-height: 1.2;
        margin-top: 5px;
        font-size: 14px; }
        .meme__container .meme__item .details .info a {
          color: inherit;
          text-decoration: none; }
      .meme__container .meme__item .details .tag {
        font-size: 10px;
        margin-left: 0px; }
      .meme__container .meme__item .details .pp__counter {
        padding-left: 10px;
        left: 5px;
        font-size: 24px;
        display: inline-flex;
        width: 0; }
        .meme__container .meme__item .details .pp__counter i {
          margin-right: 5px; }
    .meme__container .meme__item:focus:before,
    .meme__container .meme__item:focus span, .meme__container .meme__item:hover:before,
    .meme__container .meme__item:hover span {
      opacity: 1; }
    .meme__container .meme__item:focus:before, .meme__container .meme__item:hover:before {
      top: 50%; }
    .meme__container .meme__item:focus span, .meme__container .meme__item:hover span {
      top: 0; }
    .meme__container .meme__item:focus .title, .meme__container .meme__item:hover .title {
      transition-delay: 0.15s; }
    .meme__container .meme__item:focus .info, .meme__container .meme__item:hover .info {
      transition-delay: 0.25s; }

.fixed__controls__content {
  color: white;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 1; }
  .fixed__controls__content a {
    margin: 5px;
    float: none;
    clear: both;
    background-color: #272727;
    border-radius: 50%;
    padding: 15px;
    display: inline-block;
    width: 20px;
    color: inherit; }
    .fixed__controls__content a i {
      cursor: pointer; }
    .fixed__controls__content a:hover {
      color: #9165BC; }
  .fixed__controls__content a.mobile__user__container {
    display: none; }
    @media (max-width: 768px) {
      .fixed__controls__content a.mobile__user__container {
        display: inline-block; } }
  .fixed__controls__content a.mobile__user__container.logged {
    display: none;
    background-size: cover;
    background-position: center; }
    @media (max-width: 768px) {
      .fixed__controls__content a.mobile__user__container.logged {
        display: inline-block; } }

input {
  clear: both;
  width: 100%; }

input[type='file'] {
  display: none; }

label {
  font-weight: 800;
  text-align: left; }

button.file__add {
  background: #9165BC;
  padding: 10px 30px;
  border: unset;
  border-radius: 12px;
  color: white;
  margin-top: 6px;
  margin-bottom: 24px;
  cursor: pointer; }
  button.file__add:hover {
    opacity: .8; }

input.form__styled {
  padding-bottom: 20px;
  background: #F7F4F4;
  border-radius: 4px;
  box-shadow: 0 40px 50px rgba(0, 0, 0, 0.25);
  width: 90%;
  color: white;
  padding: 20px;
  border: unset; }

.tags__provider {
  padding: 5px;
  width: 98%;
  color: white;
  height: auto;
  background: #F7F4F4;
  border-radius: 4px;
  outline: none;
  font-size: 1em;
  position: relative; }
  .tags__provider input {
    outline: none;
    width: auto;
    border: 0;
    float: left;
    padding: 15px;
    background: none;
    color: white; }
  .tags__provider::before {
    content: '';
    display: table; }
  .tags__provider::after {
    content: '';
    display: table;
    clear: both; }

.tag {
  border-radius: 3px;
  background: #9165BC;
  float: left;
  margin: 3px;
  padding: 4px;
  font-size: 1em;
  vertical-align: middle; }
  .tag a {
    color: #000;
    padding-right: 10px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 5px; }
  .tag span {
    padding-right: 10px;
    padding-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px; }

#tags__submit {
  background: #9165BC;
  padding: 10px 30px;
  border: unset;
  border-radius: 12px;
  color: white;
  margin-top: 6px;
  margin-bottom: 24px;
  cursor: pointer;
  width: 200px; }
  #tags__submit:hover {
    opacity: .8; }

.moderation__remove__meme {
  width: 100px;
  top: 5px;
  position: absolute;
  right: 5px;
  text-align: right; }
  .moderation__remove__meme button {
    border: none;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    color: white;
    transition: .3s all; }
    .moderation__remove__meme button:hover {
      color: #9165BC;
      cursor: pointer; }

.modal {
  background: #272727 !important;
  text-align: center !important;
  color: white !important; }
  .modal h2 {
    margin: 0px; }
    .modal h2 span {
      color: #9165BC; }
  .modal .tip {
    font-size: 0.8em;
    font-style: italic !important;
    padding-bottom: 20px;
    text-align: left; }

#modal__meme__info {
  max-width: 80% !important;
  padding: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #272727 !important; }
  #modal__meme__info .meme__info__modal__container {
    display: flex;
    flex-direction: row; }
    #modal__meme__info .meme__info__modal__container .meme__info__modal__media {
      width: 50%;
      height: 515px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow-y: auto; }
      #modal__meme__info .meme__info__modal__container .meme__info__modal__media iframe {
        width: 100%;
        height: 100%; }
      #modal__meme__info .meme__info__modal__container .meme__info__modal__media img {
        display: block;
        width: 100%;
        max-width: 500px;
        height: auto;
        margin: auto; }
    #modal__meme__info .meme__info__modal__container .meme__info__modal__desc {
      width: 50%; }
      @media (max-width: 1000px) {
        #modal__meme__info .meme__info__modal__container .meme__info__modal__desc {
          width: 100% !important; } }
      #modal__meme__info .meme__info__modal__container .meme__info__modal__desc .meme__info__modal__desc--title {
        font-size: 2.2em;
        padding-top: 20px;
        padding-bottom: 10px; }
      #modal__meme__info .meme__info__modal__container .meme__info__modal__desc .meme__info__details {
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        align-items: center; }
        #modal__meme__info .meme__info__modal__container .meme__info__modal__desc .meme__info__details .meme__info__modal__desc--author a {
          color: white;
          text-decoration: none; }
      #modal__meme__info .meme__info__modal__container .meme__info__modal__desc .meme__info__modal__desc--comments {
        height: 275px;
        width: 100%;
        padding: 0px 20px;
        box-sizing: border-box;
        margin: 0 auto;
        margin-top: 15px; }
        #modal__meme__info .meme__info__modal__container .meme__info__modal__desc .meme__info__modal__desc--comments .meme__info__modal__desc--comments--container {
          width: 100%;
          height: 95%;
          background: #F7F4F4;
          display: flex;
          flex-direction: column;
          overflow-y: auto; }
          #modal__meme__info .meme__info__modal__container .meme__info__modal__desc .meme__info__modal__desc--comments .meme__info__modal__desc--comments--container .single__comment {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: row;
            box-sizing: border-box;
            padding: 10px;
            opacity: 0; }
            #modal__meme__info .meme__info__modal__container .meme__info__modal__desc .meme__info__modal__desc--comments .meme__info__modal__desc--comments--container .single__comment .single__comment__avatar {
              min-width: 50px;
              height: 50px;
              background-size: cover; }
            #modal__meme__info .meme__info__modal__container .meme__info__modal__desc .meme__info__modal__desc--comments .meme__info__modal__desc--comments--container .single__comment .single__comment__column {
              display: flex;
              flex-direction: column;
              max-width: 88%; }
              #modal__meme__info .meme__info__modal__container .meme__info__modal__desc .meme__info__modal__desc--comments .meme__info__modal__desc--comments--container .single__comment .single__comment__column > * {
                padding-left: 10px;
                text-align: left;
                width: 100%; }
              #modal__meme__info .meme__info__modal__container .meme__info__modal__desc .meme__info__modal__desc--comments .meme__info__modal__desc--comments--container .single__comment .single__comment__column .remove__comment {
                background: none;
                border: unset;
                position: relative;
                content: 'remove comment';
                height: 15px;
                color: inherit;
                font-size: .6em;
                text-transform: uppercase;
                opacity: .3;
                margin-top: 5px;
                cursor: pointer; }
                #modal__meme__info .meme__info__modal__container .meme__info__modal__desc .meme__info__modal__desc--comments .meme__info__modal__desc--comments--container .single__comment .single__comment__column .remove__comment:hover {
                  opacity: .6; }
              #modal__meme__info .meme__info__modal__container .meme__info__modal__desc .meme__info__modal__desc--comments .meme__info__modal__desc--comments--container .single__comment .single__comment__column .single__comment__column__username a {
                color: inherit;
                text-decoration: unset; }
              #modal__meme__info .meme__info__modal__container .meme__info__modal__desc .meme__info__modal__desc--comments .meme__info__modal__desc--comments--container .single__comment .single__comment__column .single__comment__column__content {
                justify-content: flex-start; }
        #modal__meme__info .meme__info__modal__container .meme__info__modal__desc .meme__info__modal__desc--comments .meme__info__modal__desc--comments--input {
          width: 100%;
          margin: 0 auto;
          position: relative;
          background: #F7F4F4;
          opacity: .8;
          padding: 5px;
          box-sizing: border-box; }
          #modal__meme__info .meme__info__modal__container .meme__info__modal__desc .meme__info__modal__desc--comments .meme__info__modal__desc--comments--input form {
            display: flex;
            flex-direction: row;
            margin-top: -1px; }
            #modal__meme__info .meme__info__modal__container .meme__info__modal__desc .meme__info__modal__desc--comments .meme__info__modal__desc--comments--input form input {
              flex-grow: 3;
              background: transparent;
              color: white;
              border: unset;
              border-bottom: 2px solid rgba(255, 255, 255, 0.7); }
            #modal__meme__info .meme__info__modal__container .meme__info__modal__desc .meme__info__modal__desc--comments .meme__info__modal__desc--comments--input form button {
              flex-grow: 1;
              background: transparent;
              border: unset; }
              #modal__meme__info .meme__info__modal__container .meme__info__modal__desc .meme__info__modal__desc--comments .meme__info__modal__desc--comments--input form button i {
                color: white; }
    #modal__meme__info .meme__info__modal__container .meme__socials {
      display: flex;
      justify-content: space-between;
      padding: 0px 30px;
      padding-top: 20px;
      align-items: center;
      height: 80px;
      font-size: 1.5em; }
      #modal__meme__info .meme__info__modal__container .meme__socials .meme__info__modal__desc--sharebox {
        border: 2px solid #4267B2;
        box-sizing: border-box;
        padding: 5px 20px;
        border-radius: 7px;
        display: flex;
        transition: .3s all; }
        #modal__meme__info .meme__info__modal__container .meme__socials .meme__info__modal__desc--sharebox:hover {
          background-color: #4267B2; }
        #modal__meme__info .meme__info__modal__container .meme__socials .meme__info__modal__desc--sharebox::before {
          content: '';
          position: relative;
          right: 8px;
          background-size: cover;
          background-image: url("https://cdn.usbrandcolors.com/images/logos/facebook-logo.svg");
          height: 25px;
          width: 25px;
          display: block; }
        #modal__meme__info .meme__info__modal__container .meme__socials .meme__info__modal__desc--sharebox a {
          color: white;
          text-decoration: none; }
      #modal__meme__info .meme__info__modal__container .meme__socials .meme__info__modal__desc--likes .pp__counter {
        display: flex; }
      #modal__meme__info .meme__info__modal__container .meme__socials .meme__info__modal__desc--likes i {
        padding-right: 10px; }
  @media (max-width: 1000px) {
    #modal__meme__info {
      top: 95%; }
      #modal__meme__info .meme__info__modal__container {
        flex-direction: column; }
        #modal__meme__info .meme__info__modal__container .meme__info__modal__media {
          width: 100%;
          height: 515px;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow-y: auto; }
          #modal__meme__info .meme__info__modal__container .meme__info__modal__media iframe {
            width: 100%;
            height: 100%; }
          #modal__meme__info .meme__info__modal__container .meme__info__modal__media img {
            max-width: 100%;
            max-height: 500px;
            width: unset; } }

.meme__selection {
  display: flex;
  flex-direction: row; }
  .meme__selection a {
    color: white;
    text-decoration: none;
    padding-top: 15px; }
    .meme__selection a:hover {
      background: #9165BC;
      opacity: .9; }
  .meme__selection * {
    flex-grow: 1; }

#modal__add__meme__image--second {
  padding-top: 30px; }

#modal__selection__admin a {
  padding: 0; }

html {
  padding: 0;
  margin: 0 auto;
  text-align: center; }

body {
  font-family: 'osu-regular';
  display: flex;
  flex-direction: column;
  background: #F7F4F4; }

[v-cloak] {
  display: none; }

.active {
  color: #9165BC !important; }

@media (pointer: coarse) {
  a:not(.active):hover {
    color: white !important; } }
