@font-face {
  font-family: 'osu-regular';
  src: url("../fonts/Aller_Rg.ttf"); }

.osupoli-button {
  text-decoration: none;
  color: white;
  background-color: #ff7f66;
  padding: 10px;
  margin: 10px;
  width: 150px;
  text-align: center; }
  .osupoli-button:hover {
    opacity: .8; }

.menu__container {
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 999;
  background: #191919;
  color: white; }
  @media (max-width: 768px) {
    .menu__container {
      height: unset;
      padding-bottom: 10px; } }
  .menu__container .menu__container__wrap {
    width: 100%;
    display: flex; }
    @media (max-width: 768px) {
      .menu__container .menu__container__wrap {
        flex-direction: column; } }
    .menu__container .menu__container__wrap .menu__container__wrap__logo h1 {
      font-size: 36px;
      margin: 14px 14px; }
      .menu__container .menu__container__wrap .menu__container__wrap__logo h1 a {
        color: inherit;
        text-decoration: unset; }
      .menu__container .menu__container__wrap .menu__container__wrap__logo h1 span {
        color: #ff7f66; }
    .menu__container .menu__container__wrap .menu__container__wrap__menu {
      display: flex;
      flex-direction: row;
      width: 100%; }
      .menu__container .menu__container__wrap .menu__container__wrap__menu ul {
        padding: 0;
        margin: 0;
        width: 100%;
        text-align: right; }
        @media (max-width: 768px) {
          .menu__container .menu__container__wrap .menu__container__wrap__menu ul {
            text-align: center; } }
        .menu__container .menu__container__wrap .menu__container__wrap__menu ul li {
          max-width: inherit;
          padding: 20px 10px;
          list-style-type: none;
          display: inline-block; }
          @media (max-width: 768px) {
            .menu__container .menu__container__wrap .menu__container__wrap__menu ul li {
              font-size: 1.2em;
              padding: 5px 2.5px; } }
          .menu__container .menu__container__wrap .menu__container__wrap__menu ul li input {
            width: 85%;
            text-align: center;
            border: none;
            background: transparent;
            color: white;
            border-bottom: 2px solid white; }
            @media (max-width: 768px) {
              .menu__container .menu__container__wrap .menu__container__wrap__menu ul li input {
                display: block !important;
                min-width: 300px;
                max-width: 400px;
                margin: 0 auto; } }
          @media (max-width: 768px) {
            .menu__container .menu__container__wrap .menu__container__wrap__menu ul li:last-of-type {
              display: flex;
              margin-top: 10px; }
              .menu__container .menu__container__wrap .menu__container__wrap__menu ul li:last-of-type i {
                display: none; } }
          .menu__container .menu__container__wrap .menu__container__wrap__menu ul li a {
            text-decoration: none;
            font-size: 24px;
            color: inherit; }
            @media (max-width: 768px) {
              .menu__container .menu__container__wrap .menu__container__wrap__menu ul li a {
                font-size: 1em; } }
            .menu__container .menu__container__wrap .menu__container__wrap__menu ul li a:hover {
              color: #ff7f66;
              -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
              transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1); }
      .menu__container .menu__container__wrap .menu__container__wrap__menu .menu__container__wrap__menu__user {
        display: flex;
        flex-direction: column;
        width: 80px;
        margin-left: 10px; }
        @media (max-width: 786px) {
          .menu__container .menu__container__wrap .menu__container__wrap__menu .menu__container__wrap__menu__user {
            display: none; } }
        .menu__container .menu__container__wrap .menu__container__wrap__menu .menu__container__wrap__menu__user img {
          margin-top: 5px;
          max-width: 55px;
          border-radius: 50%;
          border: 5px solid black; }
        .menu__container .menu__container__wrap .menu__container__wrap__menu .menu__container__wrap__menu__user .menu__auth__button {
          position: relative;
          background: none;
          color: white;
          text-transform: uppercase;
          text-decoration: none;
          border: 0.2em solid #ff7f66;
          height: 53px;
          padding: 0.5em 1em;
          width: 50%;
          margin: 0 auto; }
          .menu__container .menu__container__wrap .menu__container__wrap__menu .menu__container__wrap__menu__user .menu__auth__button::before {
            content: "";
            display: block;
            position: absolute;
            width: 10%;
            background: white;
            height: 0.3em;
            right: 20%;
            top: -0.21em;
            transform: skewX(-45deg);
            -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
            transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1); }
          .menu__container .menu__container__wrap .menu__container__wrap__menu .menu__container__wrap__menu__user .menu__auth__button::after {
            content: "";
            display: block;
            position: absolute;
            width: 10%;
            background: white;
            height: 0.3em;
            left: 20%;
            bottom: -0.25em;
            transform: skewX(45deg);
            -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
            transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1); }
          .menu__container .menu__container__wrap .menu__container__wrap__menu .menu__container__wrap__menu__user .menu__auth__button:hover {
            color: #ff7f66;
            -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
            transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1); }
            .menu__container .menu__container__wrap .menu__container__wrap__menu .menu__container__wrap__menu__user .menu__auth__button:hover::before {
              right: 80%; }
            .menu__container .menu__container__wrap .menu__container__wrap__menu .menu__container__wrap__menu__user .menu__auth__button:hover::after {
              left: 80%; }
  .menu__container #modal__add__meme {
    display: none; }

.content__container {
  width: 100%;
  height: 100%;
  margin-top: 85px; }
  @media (max-width: 768px) {
    .content__container {
      margin-top: 160px !important; } }

.gutter-sizer {
  width: 1.5%; }

.load__more__memes {
  color: white;
  padding: 15px; }

.footer__container {
  display: none;
  clear: both;
  float: right;
  width: 79%;
  height: 30px; }

.meme__container {
  margin: 0 auto;
  z-index: 0; }
  .meme__container .meme__item {
    display: inline-block;
    margin: 10px;
    text-align: left;
    opacity: .99;
    overflow: hidden;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05); }
    .meme__container .meme__item:before {
      content: '';
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
      width: 100%;
      height: 50%;
      opacity: 0;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 2;
      transition-property: top, opacity;
      transition-duration: .3s; }
    .meme__container .meme__item img {
      display: block;
      max-width: 310px;
      min-width: 250px;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden; }
    .meme__container .meme__item .details {
      font-size: 16px;
      padding: 15px;
      color: #fff;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 3;
      width: 100%; }
      .meme__container .meme__item .details span {
        display: block;
        opacity: 0;
        position: relative;
        top: 100px;
        transition-property: top, opacity;
        transition-duration: .3s;
        transition-delay: 0s; }
      .meme__container .meme__item .details .title {
        line-height: 1;
        font-weight: 600;
        font-size: 18px;
        clear: both; }
      .meme__container .meme__item .details .info {
        line-height: 1.2;
        margin-top: 5px;
        font-size: 14px; }
      .meme__container .meme__item .details .tag {
        font-size: 10px;
        margin-left: 0px; }
      .meme__container .meme__item .details .pp__counter {
        padding-left: 10px;
        left: 5px;
        font-size: 24px;
        display: inline-flex;
        width: 0; }
        .meme__container .meme__item .details .pp__counter i {
          margin-right: 5px; }
    .meme__container .meme__item:focus:before,
    .meme__container .meme__item:focus span, .meme__container .meme__item:hover:before,
    .meme__container .meme__item:hover span {
      opacity: 1; }
    .meme__container .meme__item:focus:before, .meme__container .meme__item:hover:before {
      top: 50%; }
    .meme__container .meme__item:focus span, .meme__container .meme__item:hover span {
      top: 0; }
    .meme__container .meme__item:focus .title, .meme__container .meme__item:hover .title {
      transition-delay: 0.15s; }
    .meme__container .meme__item:focus .info, .meme__container .meme__item:hover .info {
      transition-delay: 0.25s; }

.error__container {
  color: white;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .error__container h3 {
    color: #ff7f66;
    font-size: 72px;
    font-weight: 800;
    margin-bottom: 0px; }

.fixed__controls__content {
  color: white;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 999; }
  .fixed__controls__content a {
    margin: 5px;
    float: none;
    clear: both;
    background-color: #191919;
    border-radius: 50%;
    padding: 15px;
    display: inline-block;
    width: 20px;
    color: inherit; }
    .fixed__controls__content a i {
      cursor: pointer; }
    .fixed__controls__content a:hover {
      color: #ff7f66; }
  .fixed__controls__content a.mobile__user__container {
    display: none; }
    @media (max-width: 768px) {
      .fixed__controls__content a.mobile__user__container {
        display: inline-block; } }
  .fixed__controls__content a.mobile__user__container.logged {
    display: none;
    background-size: cover;
    background-position: center; }
    @media (max-width: 768px) {
      .fixed__controls__content a.mobile__user__container.logged {
        display: inline-block; } }

input {
  clear: both;
  width: 100%; }

label {
  font-weight: 800; }

input#meme_title {
  padding-bottom: 20px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 40px 50px rgba(0, 0, 0, 0.25);
  border: 2px solid #ff7f66;
  width: 90%; }

.tags__provider {
  padding: 5px;
  width: 90%;
  height: auto;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 40px 50px rgba(0, 0, 0, 0.25);
  border: 2px solid #ff7f66;
  outline: none;
  font-size: 1em;
  position: relative; }
  .tags__provider input {
    outline: none;
    width: auto;
    border: 0;
    float: left;
    padding: 8px;
    background: none; }
  .tags__provider::before {
    content: '';
    display: table; }
  .tags__provider::after {
    content: '';
    display: table;
    clear: both; }

.tag {
  border-radius: 3px;
  background: #ff7f66;
  float: left;
  margin: 3px;
  padding: 4px;
  font-size: 1em;
  vertical-align: middle;
  box-shadow: 0px 1px 4px #c6c6c6, 0px 2px 17px #d1d1d1; }
  .tag a {
    color: #000;
    padding-right: 10px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 5px; }
  .tag span {
    padding-right: 10px;
    padding-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px; }

.modal h2 {
  margin-top: 0px; }

.modal .tip {
  font-size: 0.8em;
  font-style: italic !important;
  padding-bottom: 20px; }

.meme__modal {
  text-align: center !important; }
  .meme__modal img {
    width: 100%; }
  .meme__modal .meme__modal__desc {
    display: flex;
    padding-top: 10px; }
    .meme__modal .meme__modal__desc .pp__counter {
      float: right;
      padding-left: 10px; }
    .meme__modal .meme__modal__desc h2 {
      width: 100%;
      text-align: right;
      padding: 0;
      margin: 0; }

html {
  padding: 0;
  margin: 0 auto;
  text-align: center; }

body {
  font-family: 'osu-regular';
  display: flex;
  flex-direction: column;
  background: #333333; }

[v-cloak] {
  display: none; }

.active {
  color: #ff7f66 !important; }
