@import 'global/colors.scss';
@import 'mixins/meme-item.scss';
@import 'modals/addMeme.scss';
@import 'components/header.scss';
@import 'components/sidebar.scss';
@import 'components/comment.scss';
@import 'components/profile.scss';
@import 'components/admin-tools.scss';

$breakpoint-mobile: 768px;
$breakpoint-tablet: 1280px;
$breakpoint-desktop: 1400px;

body{
    background: $background;
    overflow-y:scroll;
    font-family: 'Raleway', sans-serif;
    font-size:15px;
}

.content{
    display:flex;
    flex-direction: row;
    font-family: 'Raleway', sans-serif;
}

.__nuxt-error-page{
    position: relative !important;
    flex-grow:2 !important;
}