@import 'global/colors.scss';
@import 'mixins/meme-item.scss';
@import 'modals/addMeme.scss';
@import 'components/header.scss';
@import 'components/sidebar.scss';
@import 'components/comment.scss';

body{
    background: $background;
}

.content{
    display:flex;
    flex-direction: row;
    margin-top:75px;
}