.modal__mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
  
    .modal__mask__wrapper {
        display: table-cell;
        vertical-align: middle;
    
        .modal__mask__wrapper__container {
            width: 768px;
            margin: 0px auto;
            background-color: #fff;
            border-radius: 2px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
            transition: all 0.3s ease;
            font-family: Helvetica, Arial, sans-serif;

            .modal__mask__wrapper__container--header {
                h3 {
                    margin-top: 0;
                    color: #42b983;
                }
            }
            
            .modal__mask__wrapper__container--body {
                margin: 20px 0;

                form{
                  display:flex;
                  flex-direction: row;
                  justify-content:center;

                  div{
                    display:flex;
                    justify-content:center;
                    width:50%;
                  }

                  label{
                    padding:10px;
                    padding-left:0px;
                    font-size:.8em;
                    display:none;
                  }

                  input{
                    width:80%;
                    border:unset;
                    margin-top:20px;
                    border-bottom:2px solid $lightBlackTone;

                    &[type="radio"]{
                      margin-top:unset;
                    }
                  }
                }

                .meme__uploader__form{
                  display:flex;
                  flex-direction: column;
                  align-items:center;
                  padding:10px 0px;
                  h3{
                    text-align:center;
                    margin-top:unset;
                  }
                }

                .imageUploader__placeholder{
                  min-height:300px;
                  max-height:400px;
                  width:100%;
                  display:flex;
                  flex-direction: column;
                  align-items:center;
                  justify-content:center;
                  background:rgba(0,0,0,.2);

                  button{
                    border:unset;
                    background:$lightBlackTone;
                    color:white;
                    padding:10px;
                    margin-top:20px;
                    svg{
                      padding-right:5px;
                    }
                  }
                }

                .vue-friendly-iframe{
                  width:100%;
                  height:100%;

                  iframe{
                    width:100%;
                    height:100%;
                  }
                }
            }

            .modal__mask__wrapper__container--footer{
                
            }
            
            .modal-default-button {
              position:absolute;
              background:none;
              border:none;
              cursor:pointer;
              margin-top:5px;
            }

            .btn-success{
              width:100%;
              padding:15px 0px;
              position:relative;
              border:unset;
              background:$lightBlackTone;
              color:white;

              svg{
                padding-right:5px;
              }

              &:disabled{
                &:after{
                  position:absolute;
                  padding-right:10px;
                  width:100%;
                  content:' fill all required fields first!';
                }
              }
            }

            .form__messages{
              text-align:center;
              color:white;
              p{
                padding:unset;
                margin:unset;
                width:100%;
                height:100%;

                .form__messages__pending{
                  background:#db9943;
                  display:block;
                  padding:5px 0px;
                  width:100%;
                }
                .form__messages__error{
                  background:#ff0033;
                  padding:5px 0px;
                  display:block;
                  width:100%;
                }  
              }
            }
        }
    }
}

#show-modal{
  position:fixed;
  bottom:10px;
  left:10px;
  padding:10px;
  background:$lightBlackTone;
  border:unset;
  color:white;
  z-index:999;
  
  &:hover{
    cursor:pointer;
    opacity:.8;
  }

  svg{
    padding-right:10px;
  }
}

.modal__result{
  padding:20px 0px;
  text-align:center;
}
  /*
   * The following styles are auto-applied to elements with
   * transition="modal" when their visibility is toggled
   * by Vue.js.
   *
   * You can easily play with the modal transition by editing
   * these styles.
   */
  
  .modal-enter {
    opacity: 0;
  }
  
  .modal-leave-active {
    opacity: 0;
  }
  
  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  