.header{
    background-color:$blackTone;
    width:100%;
    height:50px;
    position:fixed;
    z-index:999;

    .header__wrapper{
        display:flex;
        flex-direction: row;
        max-height:100%;

        img{
            max-height:50px;
            padding:5px 10px;
        }

        a{
            color:$whiteTone;
            text-decoration:none;
        }

        .header__wrapper__menuItem--logo{
            display:flex;
            flex-direction: column;
            align-self:flex-start;
            align-content:center;
            flex-basis:100%;
            padding-left:10px;
            
            h1,h2,span{
                margin:0;
                padding:0;
            }

            h1{font-size:1.2em; padding-top:5px;}
            h2{font-size:1em;}
        }

        .header__wrapper__menuItem--searchBar{
            justify-content:flex-end;
            align-self: center;
            flex-direction: row;
            flex-basis:27%;

            input{
                background:$lightBlackTone;
                color:$whiteTone;
                border:unset;
                padding:7.5px 5px;
            }
        }

        .header__wrapper__menuItem--waitingRoom{
            font-size:1.5em;
            justify-content:center;
            align-self: center;
            padding:10px;
            cursor:pointer; 
            
            svg{
                display:flex;
                align-self: center;

                &:hover{
                    color:$mainColor;
                    transition: .3s ease-in-out;
                }
            }
        }

        .header__wrapper__menuItem--accountManagement{
            display:flex;
            flex-direction: row;
            flex-basis:15%;
 
            img{padding:0;}

            .header__wrapper__menuItem--accountManagement-logged{
                background:$mainColor;
                justify-content:center;
                align-items:center;

                h3{
                    margin-bottom:5px;
                    margin-top:0px;
                }

                .header__wrapper__menuItem--accountManagement-logged-settings{
                    display:flex;
                    flex-direction:row;
                    justify-content:space-between;

                    svg{
                        cursor:pointer;

                        &:hover{
                            color:$blackTone;
                        }
                    }
                }
            }
        }
    }
}