.header{
    background-color:$blackTone;
    width:100%;
    height:75px;
    position:fixed;
    z-index:999;

    .header__wrapper{
        display:flex;
        flex-direction: row;

        img{
            max-height:65px;
            padding:5px 10px;
        }

        a{
            color:$whiteTone;
            text-decoration:none;
        }

        .header__wrapper__menuItem--logo{
            display:flex;
            flex-direction: row;
            align-items:center;
            flex-basis:50%;
        }

        .header__wrapper__menuItem--searchBar{
            justify-content:flex-end;
            align-items:center;
            display:flex;
            flex-direction: row;
            flex-basis:35%;
            margin-right:10px;
            input{
                height:50%;
                background:$lightBlackTone;
                color:$whiteTone;
                border:unset;
                padding:3px 0px;
            }

            &:before{
                position: relative;
                content:'🔍';
                left:0;
                background:$lightBlackTone;
                height:50%;
                padding:3px 10px;
                top:0;
                display:flex;
                align-items:center;
            }
        }

        .header__wrapper__menuItem--accountManagement{
            justify-content:center;
            align-items:center;
            display:flex;
            flex-direction: row;
            flex-basis:15%;
            background:$mainColor;
        }
    }
}