.header{
    background-color:$blackTone;
    width:100%;
    height:50px;
    position:fixed;
    z-index:999;

    .header__wrapper{
        display:flex;
        flex-direction: row;
        height:100%;

        img{
            max-height:50px;
            padding:5px 10px;
        }

        a{
            color:$whiteTone;
            text-decoration:none;
        }

        .header__wrapper__menuItem--logo{
            display:flex;
            flex-direction: column;
            align-self:flex-start;
            justify-content:center;
            align-content:center;
            height:100%;
            flex-basis:100%;
            padding-left:10px;
            
            h1,h2,span{
                margin:0;
                padding:0;
            }

            h1{font-size:1.2em;}
            h2{font-size:1em;}
        }

        .header__wrapper__menuItem--searchBar{
            display:none;
            @media (min-width: $breakpoint-mobile){
                display:block;
            }
            justify-content:flex-end;
            align-self: center;
            flex-direction: row;
            input{
                background:$lightBlackTone;
                color:$whiteTone;
                border:unset;
                padding:7.5px 5px;
            }
        }

        .header__wrapper__menuItem--waitingRoom{
            display:none;
            @media (min-width: $breakpoint-mobile){
                display:block;
            }
            font-size:1.5em;
            justify-content:center;
            align-self: center;
            padding:10px 15px;
            cursor:pointer; 

            svg{
                display:flex;
                align-self: center;

                &:hover{
                    color:$mainColor;
                    transition: .3s ease-in-out;
                }
            }
        }

        .header__wrapper__menuItem--accountManagement{
            display:none;
            @media (min-width: $breakpoint-mobile){
                display:flex;
            }

            min-width: 310px;
            max-width: 315px;
            align-content: center;
            img{padding:0;}

            .header__wrapper__menuItem--accountManagement-logged{
                display:flex;
                flex-direction: row;
                align-items:center;
                width:100%;
                background:$lightBlackTone;
                h3{
                    margin:unset;
                    padding:unset;
                    flex-basis:77%;
                    text-align:center;
                }

                .header__wrapper__menuItem--accountManagement-logged-settings{
                    display:flex;
                    flex-direction:row;
                    justify-content:center;
                    flex-basis:23%;

                    svg{
                        cursor:pointer;
                        padding-right:5px;
                        &:hover{
                            color:$mainColor;
                            transition: .3s ease-in-out;
                        }
                    }
                }
            }
        }
    }
}