.sidebar{
    display:flex;
    position: relative;
    min-width:315px;
    max-width:315px;
    flex-grow:1;
    min-height:100vh;
    order:2;
    box-sizing: border-box;
    padding-top:75px;


    .sidebar__wrapper{
        top: 75px;
        bottom:0;
        position:fixed;
        overflow-y:scroll;
        overflow-x:hidden;
        border-left:2px solid $lightBlackTone;
        padding:20px;

        h4{margin:unset; padding:unset; margin-bottom:5px; margin-top:5px;}

        .meme__container{
            margin-top:unset;        
            display:block;
            padding:unset;

            .meme__item__header__title{
                font-size:.8em;
            }

            * {
                margin:unset;
                max-width:70%;
            }
        }

    }
}