$prefix: 'c4';
$name: 'izmir';

$padding: 1em;
$transition-duration: 600ms;
$image-opacity: .35;

$border-margin: 15px;
$border-width: 5px;
$border-color: #fff;
$border-radius: 6px;

$primary-color: $osupoli_orange;
$secondary-color: $osupoli_orange;
$text-color: #fff;
