.alert__popup
     #alert__not__logged(class="modal" rel="model:open")
        h2='Only logged users can give PP!'
     #alert__already__gave__pp(class="modal" rel="model:open")
        h2='You already gave PP for this meme!'