.fixed__controls__content
    if userInfo
        a(class="logged__add__meme" href="#modal__add__meme")
            i(class="fas fa-plus")
        if userInfo.role > 0
            a(href='/meme/moderate')
                i(class="far fa-clock")
        a(class='mobile__user__container logged' style=`background-image:url(https://a.ppy.sh/${userInfo.ingame_id}); height:20px; margin-bottom:-20px;`)
        include new_meme.pug
    else
        a(class='mobile__user__container' href='/login')
            i(class="fas fa-sign-in-alt")