.menu__container
    .menu__container__wrap
        .menu__container__wrap__logo
            h2(class="logo")="osu!memes"
        .menu__container__wrap__menu
            ul
                li
                    a(href='#') #std
                li
                    a(href='#') #mania
                li
                    a(href='#') #ctb
                li
                    a(href='#') #taiko
                li
                    input(type="text" disabled placeholder="search w.i.p.")
                    
            a.menu__auth__button(href="#")
                ="Login with osu!"