.menu__container
    .menu__container__wrap
        .menu__container__wrap__logo
            h2(class="logo")="osu!mem.es"
        .menu__container__wrap__menu
            ul
                li
                    a(href='#') #std
                li
                    a(href='#') #mania
                li
                    a(href='#') #ctb
                li
                    a(href='#') #taiko