#modal__meme__info(class="modal")
    .meme__info__modal__container
        .meme__info__modal__media
        .meme__info__modal__desc
            .meme__info__modal__desc--title
            .meme__info__details
                .meme__info__modal__desc--tags(class="tag")
                .meme__info__modal__desc--author
            .meme__info__modal__desc--comments
                .meme__info__modal__desc--comments--container
                .meme__info__modal__desc--comments--input
            
            .meme__socials
                .meme__info__modal__desc--sharebox
                    ='SHARE'
                .meme__info__modal__desc--likes
                    span(class='pp__counter')