.popups__container
   .alert__not__logged(class="modal" rel="model:open")
      h3='Only logged users can give PP!'
   .alert__already__gave__pp(class="modal" rel="model:open")
      h3='You already gave PP for this meme!'
   .meme__modal(class="modal" rel="model:open")
      .meme__modal__image
      .meme__modal__desc