.gdpr__container
    .gdpr__container__info
        =`This website is using informations collected from your osu!profile, we are analysing the traffic on certain pages and include cookies, so after entering this page, you accept website's `
        a(href="/info/rules")='RULES'
    .gdpr__container__close
        ='CLOSE'