link(rel='stylesheet' href="../css/main.css")
link(rel='stylesheet' href="../css/normalize.css")
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css")