extends layout.pug
block content
    include /head&footer/gdpr.pug
    .banned_info
        if userInfo
            if userInfo.role > -1
                h3!=`Your account is: <font color="green">STABLE</font>`
            else
                h3!=`Your account is: <font color="red">BANNED</font>`
        h2=`What happen with your account when it's banned?`
        p=`You can do almost everything as default account, the only limitation is that you cannot upload memes, comment or logout yourself`
        p!=`To prevent getting banned, please be sure, that you follow all of the regulations on this <a href='/info/rules'>page</a>`
        p=`If you would like to get unbanned, contact the administration through the discord channel`
block footer
    script(src='/scripts/jquery.js')
    script(src="https://kit.fontawesome.com/33ef3f59f0.js" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js")
    script(src='/scripts/modalsConfig.js')
    script(src='/scripts/tagsInput.js')
    script(src='/scripts/activeControl.js')
    script(src='/scripts/gdpr.js')