doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="robots" content='noindex')
        meta(http-equiv="refresh" content="3;url=/")
        title Success login - Semem page
        include ../head&footer/head-link.pug
    body
        .success__container
            h3='Success!'
            p='Please get into the homepage by clicking the button below or wait couple of seconds for redirect!'
            a(href='/' class="osupoli-button")
                ='browse memes!' 