.osupoli-button{
    text-decoration: none;
    color:white;
    background-color:$highlight;
    padding:10px;
    margin:10px;
    width:150px;
    text-align:center;

    &:hover{
        opacity:.8;
    }
}