html
    head
        title Vue Meme Recreation
        include scripts
        block scripts
    body
        header
            include header
        main
            include beforeBodyScripts
            block content
        footer
            include footer