html
    head
        title Vue Meme Recreation
    body
        header
            include header
        main
            include beforeBodyScripts
            #app
                block content
        footer
            include footer
            include scripts
            block scripts