html
    head
        title Vue Meme Recreation
        link(rel='stylesheet' href="../css/main.css")
        link(rel='stylesheet' href="../css/normalize.css")
    body
        header
            include header
        main
            include beforeBodyScripts
            #app
                block content
        footer
            include footer
            include scripts
            block scripts