script(src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js')
script(src='../dist/main.js')
script(src='../dist/0.main.js')
script(src='../dist/1.main.js')
//all of the essential scripts are above, do not remove them!