header{
    width:100%;
    min-height:50px;
    background-color: #fff;
    
    .menu__wrapper{
        max-width: 1240px;
        color:black;
        display:flex;
        flex-direction: row;
        justify-content:flex-start;

        h1{padding:0; margin:0;}

        .menu__wrapper__logo{
            flex-grow:2;
        }
    }
}


